
#root {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-row: repeat(3, 1fr);
  width: 100%;
}

.title {
  align-content: center;
}

.name {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: center;
  font-size: 50px;
}

.motto {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: center;
  font-size: 20px;
}

.entry {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  place-items: center;
}

.response {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  padding: 40px;
}

.responsetxt {
  padding-left: 10px;
  text-align: left;
  padding-right: 10px;
}

.action {
  /* font-size: x-large; */
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.signinout {
  grid-row: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 60px;
  max-height: 40px;
}

@media (max-width: 1000px) {
  .entry {
    place-items: center;
    width: 5vw;                   /* Make the item take full width */
    height: 5vh;                  /* Adjust height */
  }

}

#query {
  padding: 5px;
  font-size: 16px;
}

.database {
  grid-row: 1 / span 3;
  grid-column: 3;
  align-self: center;
  justify-self: center;
  width: 20vw; /* Set container width */
  height: 90vh; /* Set container height */
  scrollbar-width: none;
  overflow-y: scroll; /* Add vertical scrollbar
  border: 1px solid #ccc; /* Optional: border for visibility */
  background-color: rgb(114, 114, 114);
  border-radius: 8px;
}

.rotating-image {
  width: 70px;
  height: 70px;
  animation: rotate 1.55s linear infinite;
}

.entry-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loading {
  margin-bottom: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (prefers-color-scheme: light) {
  body {
    filter: invert(1);
  }
} */